<div data-role="view" id="commentPositiveView" data-layout="mainlayout" data-title="Bravo, let's give praise" data-show="show">
    <form id="submitForm">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Registration plate:
                    <input type="text" id="txtRegPlate" placeholder="OS333NM" required validationMessage="Enter {0}" />
                </label>
            </li>
            <li>
                <label>
                    Comment: <textarea style="resize: none" id="txtComment" placeholder="Great driver..." required></textarea>
                </label>
            </li>
        </ul>
        <img style="display:none;margin:5px auto; width:120px; height:120px;" id="smallImage" src="" />
        <div class="buttonContainer">
            <a class="button submitButton takePhoto" data-role="button" data-click="capture" type="submit" id="btnTakePhoto">Take Photo</a>
            <br>
            <a class="button submitButton" data-role="button" data-click="Insert" type="submit">Praise</a>
        </div>
    </form>
</div>

<script>
    var crudServiceBaseUrl = "http://mydriving.atic-solutions.com/api/comment/";

    function Insert() {
        kendo.ui.progress($("#submitForm"), true);
        var jsonString = JSON.stringify({ RegPlate: $("#txtRegPlate").val(), Comment: $("#txtComment").val(), Picture : imageData, Type: 1 });
        $.ajax({
                   url: crudServiceBaseUrl + 'Post/',
                   type: 'POST',
                   contentType: "application/json; charset=utf-8",
                   data: jsonString,
                   success: function (results) {
                       $("#txtRegPlate").val('');
                       $("#txtComment").val('');
                       removePicture();
                       kendo.ui.progress($("#submitForm"), false);
                   }
               });
    };
    
    $("#submitForm").kendoValidator();
</script>