<div data-role="view" id="commentNegativeView" data-layout="mainlayout" data-show="show">
    <!--<a class="nav-button" data-align="left" data-role="backbutton">Back</a>-->
    <div class="titleBar"><span>Oh no, someone's been naughty</span></div>
    <form id="submitForm" class="negative">

        <span class="spanFirstComment">Registration plate:</span><br>
        <input type="text" id="txtRegPlate" placeholder="OS333NM" required validationMessage="Enter {0}" /><br>

        <span class="spanSecondComment">Comment:</span><br>
        <textarea style="resize: none" id="txtComment" placeholder="This is disaster..." required></textarea>

        <img id="smallImage" class="previewImage" src="" />

        <a class="buttons btnTakePhoto" data-role="button" data-click="capture" id="btnTakePhoto">TAKE A SHOT</a>
        <a class="buttons btnTakePhoto displayNone" data-role="button" data-click="removePicture" id="btnRemovePhoto">REMOVE</a>
        <a class="btnSubmit negative buttons" data-role="button" data-click="Insert">PUNISH</a>
    </form>
</div>

<script>
    var crudServiceBaseUrl = "http://mydriving.atic-solutions.com/api/comment/";

    function Insert() {
        kendo.ui.progress($("#submitForm"), true);
        var jsonString = JSON.stringify({ RegPlate: $("#txtRegPlate").val(), Comment: $("#txtComment").val(), Picture : imageData, Type: 2 });
        $.ajax({
                   url: crudServiceBaseUrl + 'Post/',
                   type: 'POST',
                   contentType: "application/json; charset=utf-8",
                   data: jsonString,
                   success: function (results) {
                       $("#txtRegPlate").val('');
                       $("#txtComment").val('');
                       removePicture();
                       kendo.ui.progress($("#submitForm"), false);
                   }
               });
    };
    
    $("#submitForm").kendoValidator();
</script>