@font-face
{
    font-family: 'open_sans_bold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'open_sans_light';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.displayNone
{
    display: none; 
}

.displayBlock
{
    display: block;
}

body, .km-view, .km-content
{
    background-color: #f0f2f5 !important;
}

.km-filter-wrap > input:focus
{
    border-color: #369;
}

.buttonContainer
{
    margin: 0 1em 1em 1em;
    position: relative;
}

#logoText
{
    position: absolute;
    background: url('../img/logoText.png') no-repeat;
    height: 10%;
    width: 60%;
    top: 2%;
    left: 20%;
    display: block;
    background-size: 100%;
}

.buttons
{
    border: none;
    height: 10%;
    width: 90%; 
    font: 3.3vh Arial;
    font-weight: bold;
    padding: 5%;
    position: absolute;
    left: 5%;
}

.buttons span
{ 
    color: #fff !important;
}

.spanHome
{
    position: absolute;
    text-align: center;
    color: #a4a9ae !important;
    font: 2.6vh "open_sans_bold";
}

#spanFirstHome
{ 
    top: 15%;
}

#spanSecondHome
{ 
    top: 56%;
}

.spanLarger
{
    font-size: 3.3vh;
}

#btnCommentPositive
{
    top: 32%;
    background: #a0d468;
    color: #81b449;
}

#btnCommentPositive.km-state-active
{
    color: #9ad657;
    background: #b0e973;
}

#btnCommentNegative
{
    top: 44%;
    background: #ed5565;
    color: #da4453;
}

#btnCommentNegative.km-state-active
{
    color: #e84959;
    background: #ff5d6e;
}

#btnMyRegistration
{
    top: 73%;
    background: #fc6e51;
    color: #e9573f;
}

#btnMyRegistration.km-state-active
{
    color: #fe6951;
    background: #ff8a72;
}

#btnLatest
{
    top: 85%;
    background: #ac92ec;
    color: #967adc;
}

#btnLatest.km-state-active
{
    color: #a184eb;
    background: #bea4ff;
}

.titleBar
{
    font: 4vh "open_sans_bold";
    position: absolute;
    height: 10%;
    width: 100%;
    padding: 3.7%;
    text-align: center;
}

.titleBar span
{
    color: #fff !important; 
}

#commentPositiveView .titleBar
{
    background: #a0d468;
    color: #81b449;
}

#commentNegativeView .titleBar
{
    background: #ed5565;
    color: #da4453;
}

#findIndexView .titleBar
{
    background: #fc6e51;
    color: #e9573f;
}

#submitForm .spanFirstComment,
.searchContainer .spanFirstComment,
#submitForm .spanSecondComment
{
    position: absolute;
    left: 5%;
    font: 3vh "open_sans_light";
    color: #768082 !important;
}

.spanFirstComment
{
    top: 14%;
}

.spanSecondComment
{
    top: 29%;
}

input
{
    position: absolute;
    top: 19%;
    left: 5%;
    height: 8%;
    width: 90%; 
    border: 0.5vh solid #e3e4e8 !important;
    border-radius: 3px;
    font: 3vh "open_sans_light";
    padding: 2%;
}

textarea
{
    position: absolute;
    top: 34%;
    left: 5%;
    height: 15%;
    width: 90%; 
    border: 0.5vh solid #e3e4e8 !important;
    border-radius: 3px;
    font: 3vh "open_sans_light";
    padding: 2%;
}

.previewImage
{
    display: none;
    top: 50%; 
    position: absolute;
}

.btnTakePhoto, .btnRemovePhoto
{
    top: 73%;
    background: #fc6e51;
    color: #e9573f !important;
}

.btnTakePhoto.km-state-active, .btnRemovePhoto.km-state-active
{
    color: #fe6951;
    background: #ff8a72;
}

.btnFind
{
    background: #4fc1e9;
    color: #3bafda !important;
}

.btnFind.km-state-active
{
    color: #43c0ef;
    background: #56d2fd;
}

.btnSubmit
{
    top: 85%;
}

.btnSubmit.positive
{
    background: #a0d468;
    color: #81b449 !important; 
}

.btnSubmit.negative
{
    background: #ed5565;
    color: #da4453;
}

.btnSubmit.km-state-active
{
    color: #9ad657 !important;
    background: #b0e973;
}

.km-root .selected-button
{
    color: #fff !important;
    background-color: #f60;
}

/* solid filled buttons in iOS7 should override the border-color */
.km-ios7 .selected-button
{
    border-color: transparent;
}

.km-ios .head,
.km-blackberry .head
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#commentPositiveView .km-view-title
{
    background-color: #CBE8BA;
}

#commentNegativeView .km-view-title
{
    background-color: #FF8A84;
}

.km-listinset > li:first-child
{
    border-top: 1px solid rgba(76, 83, 86, 0.2) !important;
}

.km-listinset > li:last-child
{
    border-bottom: 1px solid rgba(76, 83, 86, 0.2)!important;
}

.searchContainer
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
}

.commentScroller
{
    -webkit-box-flex: 1; 
    -moz-box-flex: 1;
}

.searchDiv
{
    margin: 10px 0 10px 0; 
    -webkit-box-flex: 0%;
    -moz-box-flex: 0%;
}

.commentScroller .km-list>li
{
    border-style: none;
    background: transparent;
    text-align: center;
}

.positiveComment
{
    background-color: green;
}

.negativeComment
{
    background-color: red;
}

.positiveComment, .negativeComment
{
    padding: 0.7em;
}

.km-content, .km-stretched-view
{
    position: relative;
}

#submitForm,
.searchContainer
{
    position: absolute;

    width: 100%;
}

.clearfix
{
    clear: both; 
}
